*{
    background-color: black;
}

li,a,button{
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16 px;
    color: white;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
.nav-links{
    list-style:none;
}

.nav-links li{    
    display: inline-block;
    padding: 0px 20px;

}

